Code/VGG-11/.ipynb_checkpoints/CIFAR-10 dataset as numpy-checkpoint.ipynb
Code/VGG-11/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Code/VGG-11/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
Code/VGG-11/.ipynb_checkpoints/VGG_11_CPU_GPU_Tmp_V2-checkpoint.ipynb
Code/VGG-11/.ipynb_checkpoints/VGG-11 - with GPU - 1FCS - 1SM - Softmax - 5 Epoch-checkpoint.ipynb
Code/VGG-11/LR-Scheduler-Experiment/.ipynb_checkpoints/LR Scheduler Visualization-checkpoint.ipynb
.idea/deployment.xml
.idea/effects-of-cpu-and-gpu-architectures-on-the-accuracy-of-neural-networks.iml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/.gitignore
.vscode/launch.json
.vscode/launch.json
Code/.ipynb_checkpoints/test-checkpoint.ipynb
Code/Logistic_Map/.ipynb_checkpoints/test-checkpoint.ipynb
Code/VGG-11/LR-Scheduler-Experiment/Batch 64/.ipynb_checkpoints/LR Scheduler Visualization 64-checkpoint.ipynb
Code/VGG-11/.ipynb_checkpoints/pypadsResults-checkpoint.ipynb
